div {
  border-width:2px;
  border-color: black;
  border-style: solid;
}

ul {
  list-style-type: none;
}

li {
  border-width:2px;
  border-color: black;
  border-style: solid;
}

#app-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 750px;
}

#header-grid {
  display: grid;
  grid-template-columns: 1fr 100px
}

#todolistlist-grid {
  display: grid;
  height: 700px;
  grid-template-rows: 1fr 70px
}

.todo-grid {
  display: grid;
  grid-template-columns: 50px 1fr
}

/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
